doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="jquery/jquery.min.js")
    script(type="text/javascript", src="noty/js/noty/jquery.noty.js")
    script(type="text/javascript", src="noty/js/noty/layouts/top.js")
    script(type="text/javascript", src="noty/js/noty/themes/default.js")
    script(type="text/javascript", src="paperjs/lib/paper.js")
    script(type="text/javascript", src="numeral/min/numeral.min.js")
    script(type="text/javascript", src="handlebars.js/dist/handlebars.js")
    script(type="text/x-handlebars-template", id="planet-info-template").
      <div class="planet-stats">
        <h1>{{name}}</h1>
        <table>
          <tr><td>Population</td><td>{{population}}</td></tr>
          <tr><td>Government</td><td>{{government}}</td></tr>
          <tr><td>Leader</td><td>{{leader}}</td></tr>
          <tr><td>Symbol</td><td>{{symbol}}</td></tr>
        </table>
      </div> 
      <div class="bottom-toolbar"><a id="close-info" href="#">Close</a></div>
  body
    h1.main-header Madronnesian Wars 2
    block content
