doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="jquery/jquery.min.js")
    script(type="text/javascript", src="noty/js/noty/jquery.noty.js")
    script(type="text/javascript", src="noty/js/noty/layouts/top.js")
    script(type="text/javascript", src="noty/js/noty/themes/default.js")
    script(type="text/javascript", src="paperjs/lib/paper.js")
  body
    block content
