extends layout

block content
  .container
    h1.main-header= title

    .canvas
      #planet-info
      canvas#cartograph(resize="true")

      script(type="text/javascript")
        var source   = $("#planet-info-template").html();
        planetInfoTemplate = Handlebars.compile(source);
        $("#planet-info").hide();

    script(type="text/javascript", src="javascripts/planets.json")
    script(type="text/paperscript", canvas="cartograph").

      //Static view = sky as seen at midnight from the Northern hemisphere of capital planet
      //length = altitude; angle = azimuth;
      //Zenith is at length of 90; Capital planet itself is represented at Zenith

      var zenith = 90;
      
      function Planet(cfg){
        this.name = cfg.name;
        this.altitude = cfg.alt;
        this.azimuth = cfg.azi;
        this.population = cfg.pop || 120000;
        this.government = cfg.govt || "Republic"
        this.leader = cfg.leader || "Governor Cratylus"
        this.symbol = cfg.sym || "MCR"
      }

      Planet.prototype.getLength = function(planet){
        return zenith - this.altitude;
      }

      Planet.prototype.getAngle = function(planet){
        return this.azimuth;
      }

      Planet.prototype.updatePosition = function (planet){
        this.c.position = view.center + this.location;
      }

      Planet.prototype.drawOrbit = function(planet){
        planet.orbit = new Path.Circle({
          center: view.center,
          radius: planet.getLength(),
          strokeColor: "#CCC"
        });
        planet.orbit.dashArray = [10,4];
      }

      Planet.prototype.removeOrbit = function(planet){
        planet.orbit.remove();
      }

      Planets = planets.map(function(p){
        return new Planet(p);
      });

      Planets.forEach(function(p){
        p.location = new Point({ length: p.getLength(), angle: p.getAngle() });
        p.c = new Path.Circle({
          center: view.center + p.location,
          radius: 7,
          strokeColor: "yellow",
          fillColor: "#CCC"
        });

        p.c.onClick = function(){
          // $.noty.clearQueue();
          // noty({type: "success", text: p.name});

          $("#planet-info").show();
          $("#planet-info").html(planetInfoTemplate(p));
  
          $("#planet-info a#close-info").click(function(){ $("#planet-info").hide(); });
        }

        p.c.onMouseEnter = function(){ p.drawOrbit(p) };
        p.c.onMouseLeave = function(){ p.removeOrbit(p) };

      });

      capitol = new Path.Circle({
        center: view.center,
        radius: 10,
        strokeColor: "yellow",
        fillColor: '#333'
      });

      capitol.onClick = function(event){
        noty({type: "success", text: "Attatalos"});
      }

      var a = new Point({length: 5, angle: 90});

      var c = new Point({length: 90, angle: 90});
      secundus = new Path.Circle({
        center: view.center + c,
        radius: 10,
        strokeColor: "yellow",
        fillColor: 'green'
      });



      function onResize(e){
        capitol.position  = view.center;
        Planets.forEach(function(p){
          p.updatePosition();
        });
        console.log(view.zoom);
      }

      function onFrame(e){
        secundus.rotate(.5, view.center);
      }
