
html {
  background-color: #222;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.air-superiority-blue {
  color: #72A0C1;
}

.canvas {
  background-color: #72A0C1;
  position: relative;
  overflow: hidden;
  z-index: 2;
  margin: 40px 0 0 0;
}

.canvas > .overlay {
  position: absolute;
  height: 0%;
  width: 0%;
  bottom: 90px;
  z-index: 3;
  opacity: .8;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: perspective(500px) rotateX(90deg);
  background: linear-gradient(to right, #7f1311 30%, #fff 35%, #fff 64%, #7f1311 69%);
}
.canvas > .overlay.active {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: perspective(500px) rotateX(0deg);
  /* -webkit-transition: -webkit-transform 1s cubic-bezier(1, 0.45, 0.25, 0.98)  0s; */
}

h1.main-header {
  cursor: pointer;
  z-index: 4;
  color: #333;
  font-size: 24px;
  text-transform: uppercase;
  /* text-shadow: 3px 3px 5px #555; */
  margin: 0;
  border-bottom: 5px solid #333;
  outline: 1px solid gold;
  background-color: white;
  padding: 40px 10px 60px 10px;
  background-image: url(/images/vikingshield.jpg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 7% -40%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: padding 0.5s linear 0s;
}

h1.main-header.collapsed-state {
  opacity: 1;
  padding: 15px 10px;
  -webkit-transition: padding 0s step-end 0s;
  transition: padding 0s step-end 0s;
} 

h1.main-header .subtitle {
  color: #BBB;
}

a {
  color: #00B7FF;
}

#planet-info {
  position: absolute;
  top: 0;
  background-color: black;
  color: #CCC;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.8;
  border-top: 1px solid #333;
  border-bottom: 2px solid #CCC;
  overflow: auto;
}

#planet-info img.planet-render {
  float: left;
  margin-right: 15px;
}

#planet-info table td:first-child {
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 10px;
}

#planet-info table td:nth-child(2) {
  padding-left: 10px;
  color: #1560bd;
  font-weight: bold;
}

#planet-info .bottom-toolbar {
  text-align: center;
  color: #CCC;
  font-weight: bold;
}

#planet-info .bottom-toolbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

#map-toolbar {
  height: 90px;
  width: 100%;
  background-color: #FFF;
  color: #333;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.7;
  
  position: absolute;
  z-index: 4;
  bottom: 0px;

  list-style: none;
  overflow: auto;
  margin: 0;
}

#map-toolbar.inactive {
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: perspective(500px) rotateX(45deg) skewX(5deg);
  background-color: #000;
  opacity: 0.4;
} 

#map-toolbar-overlay.active {
    height: 90px;
    position: absolute;
    width: 100%;
    background-color: #333;
    bottom: 0px;
    z-index: 5;
    opacity: .8;
    border-top: 2px solid rgba(255,255,255,.2);
}

#map-toolbar .controls {
  float: left;
}

#map-toolbar .buttons {
  float: right;
}

#map-toolbar > li {
  display: block;
  float: left;
  padding: 10px;
  margin-right: 20px;
} 
#map-toolbar label.centered {
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

#map-toolbar li.zoom-control {
  width: 250px;
}

#map-toolbar li.zoom-control label {
  margin-bottom: 18px;
}

#map-toolbar li.planet-options label {
  float: left;
  margin-right: 10px;
}

#map-toolbar li.planet-options label.centered {
  float: none;
}

#map-toolbar .ui-state-active, #map-toolbar .ui-slider-handle.ui-state-default {
  color: white !important;
  background: #446cb3 !important;
}

#city-overlay {
  width: 50%;
  position: absolute;
  background-color: #FFF;
  opacity: .7;
  font-size: 40px;
  color: #333;
  z-index: 2;
  text-transform: uppercase;
  top: 100px;
  border-right: 20px solid blueviolet;
  padding: 20px;
}
