
html {
  /* background-image: url(http://www.shafe.co.uk/crystal/images/lshafe/Claude_View_of_Carthage_with_Dido_and_Aeneas.jpg);
  background-size: cover;
  */
  background-color: #333;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.canvas {
  background-color: rgba(256,256,256,.9);
  position: relative;
}

h1.main-header {
  color: white;
  text-shadow: 2px 2px 2px #333;
}

a {
  color: #00B7FF;
}

#planet-info {
  position: absolute;
  top: 0;
  background-color: black;
  color: #CCC;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.7;
  border-bottom: 4px solid #333;
}

#planet-info table td:first-child {
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 10px;
}

#planet-info table td:nth-child(2) {
  padding-left: 10px;
  color: #1560bd;
  font-weight: bold;
}

#planet-info .bottom-toolbar {
  text-align: center;
  color: #CCC;
  font-weight: bold;
}

#planet-info .bottom-toolbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

#map-toolbar {
  height: 70px;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  
  position: absolute;
  bottom: 0px;

}
